{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "namespace": "Sui",
        "fileName": false,
        "displayName": true
      }
    ]
  ]
}
